/*
 * OpenAPI Ice Spell Mint API
 * Test Spec for a \"Simple Client\"
 *
 * The version of the OpenAPI document: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package fr.jmini.openapi.openapitools.restassured.api;

import com.google.gson.reflect.TypeToken;

import java.util.ArrayList;
import java.util.Arrays;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import io.restassured.RestAssured;
import io.restassured.builder.RequestSpecBuilder;
import io.restassured.builder.ResponseSpecBuilder;
import io.restassured.http.Method;
import io.restassured.response.Response;
import io.swagger.annotations.*;

import java.lang.reflect.Type;
import java.util.function.Consumer;
import java.util.function.Function;
import java.util.function.Supplier;
import fr.jmini.openapi.openapitools.restassured.JSON;

import static io.restassured.http.Method.*;

@Api(value = "Dolor")
public class DolorApi {

    private RequestSpecBuilder reqSpec;

    private DolorApi(RequestSpecBuilder reqSpec) {
        this.reqSpec = reqSpec;
    }

    public static DolorApi dolor(RequestSpecBuilder reqSpec) {
        return new DolorApi(reqSpec);
    }


    @ApiOperation(value = "",
            notes = "",
            nickname = "dolorBasicSec",
            tags = { "dolor" })
    @ApiResponses(value = { 
            @ApiResponse(code = 200, message = "OK")  })
    public DolorBasicSecOper dolorBasicSec() {
        return new DolorBasicSecOper(reqSpec);
    }

    @ApiOperation(value = "",
            notes = "",
            nickname = "dolorBearerSec",
            tags = { "dolor" })
    @ApiResponses(value = { 
            @ApiResponse(code = 200, message = "OK")  })
    public DolorBearerSecOper dolorBearerSec() {
        return new DolorBearerSecOper(reqSpec);
    }

    /**
     * Customise request specification
     * @param consumer consumer
     * @return api
     */
    public DolorApi reqSpec(Consumer<RequestSpecBuilder> consumer) {
        consumer.accept(reqSpec);
        return this;
    }

    /**
     * 
     * 
     *
     */
    public static class DolorBasicSecOper {

        public static final Method REQ_METHOD = POST;
        public static final String REQ_URI = "/dolor/basicSecurity";

        private RequestSpecBuilder reqSpec;
        private ResponseSpecBuilder respSpec;

        public DolorBasicSecOper(RequestSpecBuilder reqSpec) {
            this.reqSpec = reqSpec;
            reqSpec.setAccept("application/json");
            this.respSpec = new ResponseSpecBuilder();
        }

        /**
         * POST /dolor/basicSecurity
         * @param handler handler
         * @param <T> type
         * @return type
         */
        public <T> T execute(Function<Response, T> handler) {
            return handler.apply(RestAssured.given().spec(reqSpec.build()).expect().spec(respSpec.build()).when().request(REQ_METHOD, REQ_URI));
        }

        /**
         * Customise request specification
         * @param consumer consumer
         * @return operation
         */
        public DolorBasicSecOper reqSpec(Consumer<RequestSpecBuilder> consumer) {
            consumer.accept(reqSpec);
            return this;
        }

        /**
         * Customise response specification
         * @param consumer consumer
         * @return operation
         */
        public DolorBasicSecOper respSpec(Consumer<ResponseSpecBuilder> consumer) {
            consumer.accept(respSpec);
            return this;
        }
    }
    /**
     * 
     * 
     *
     */
    public static class DolorBearerSecOper {

        public static final Method REQ_METHOD = POST;
        public static final String REQ_URI = "/dolor/bearerSecurity";

        private RequestSpecBuilder reqSpec;
        private ResponseSpecBuilder respSpec;

        public DolorBearerSecOper(RequestSpecBuilder reqSpec) {
            this.reqSpec = reqSpec;
            reqSpec.setAccept("application/json");
            this.respSpec = new ResponseSpecBuilder();
        }

        /**
         * POST /dolor/bearerSecurity
         * @param handler handler
         * @param <T> type
         * @return type
         */
        public <T> T execute(Function<Response, T> handler) {
            return handler.apply(RestAssured.given().spec(reqSpec.build()).expect().spec(respSpec.build()).when().request(REQ_METHOD, REQ_URI));
        }

        /**
         * Customise request specification
         * @param consumer consumer
         * @return operation
         */
        public DolorBearerSecOper reqSpec(Consumer<RequestSpecBuilder> consumer) {
            consumer.accept(reqSpec);
            return this;
        }

        /**
         * Customise response specification
         * @param consumer consumer
         * @return operation
         */
        public DolorBearerSecOper respSpec(Consumer<ResponseSpecBuilder> consumer) {
            consumer.accept(respSpec);
            return this;
        }
    }
}
